{% include 'main/menu.html' %}


<div class="line"></div>


<div class="row gx-3">
    <div class="col">
        <div class="p-0">
            {% include 'main/logo.html' %}
        </div>
    </div>
    <div class="col">
        <div class="p-0">
            <div class="connection">
                <div class="title">Контакты:</div>
                <div class="phone">{% include 'main/connection-info/phone.html' %}</div>
                <div class="email">{% include 'main/connection-info/email.html' %}</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="p-0">
            <div class="social">
                <div class="title">Соцсети:</div>
                    <div class="row gx-3">
                        <div class="col">
                            <div class="p-0">
                                <a href="" class="instagram logo"></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-0">
                                <a href="" class="vk logo"></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-0">
                                <a href="" class="whatsapp logo"></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-0">
                                <a href="" class="telegram logo"></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
