<div class="menu">
    <ul class="first-lvl-menu">
        <div class="row gx-5">
            <div class="col">
                <div class="p-0">
                    <li>
                        <a href="{% url 'about' %}">Обо мне</a>
                        <ul class="two-lvl-menu">
                            <li><a href="">Отзывы</a></li>
                            <li><a href="">Проекты</a></li>
                        </ul>
                    </li>
                </div>
            </div>
            <div class="col">
                <div class="p-0">
                    <li><a href="{% url 'promotions' %}">Акции</a></li>
                </div>
            </div>
            <div class="col">
                <div class="p-0">
                    <li>
                        <a href="{% url 'catalog_product' %}">Каталог товаров</a>
                        <ul class="two-lvl-menu">
                            <li><a href="">Свечи</a></li>
                            <li><a href="">Новогодние веночки</a></li>
                            <li><a href="">Украшенные бутылки</a></li>
                            <li><a href="">Мёд</a></li>
                        </ul>
                    </li>
                </div>
            </div>
            <div class="col">
                <div class="p-0">
                    <li>
                        <a href="{% url 'gallery' %}">Галерея</a>
                        <ul class="two-lvl-menu">
                            <li><a href="">Фотогалерея</a></li>
                            <li><a href="">Видеогалерея</a></li>
                        </ul>
                    </li>
                </div>
            </div>
            <div class="col">
                <div class="p-0">
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </div>
            </div>
        </div>
    </ul>
</div>
